style.
    #footer-logo {
            width: 100px;
            margin-right: 20px;
            border-radius: 50%;
    }
    span.text-light.down {
        vertical-align: -15px;
    }
footer.footer.mt-auto.py-3.bg-dark
    .container
    img#footer-logo.pl-2(src=`https://cdn.discordapp.com/avatars/764185988972675092/7b913fb0a540ae101630dd7a63cfb97c.webp?size=256`) 
    span.pl-1.text-light.down.font-weight-bold Copyright © 2021 Bacon-N-Such
