#sidebar.float-left.bg-pink
    a(href='/dashboard')
        .icon-round.shadow
            img(alt=user.username, src=`https://cdn.discordapp.com/avatars/` + user.id + `/` + user.avatarHash + `?size=64`)