doctype
html(lang="en")
    head
        include includes/header.pug

        script(type='text/javascript', src='../js/commands.js', crossorigin='anonymous', defer)

        link(type='text/html', rel='stylesheet', href='../css/commands.css')
    body
        include includes/navbar.pug
        meta(http-equiv='refresh', content='2; URL=https://discord.gg/sfHkjZxfv6')
        .jumbotron.text-center.bg-transparent
            h1.display Thanks For The Invite! Redirecting...