doctype 
html(lang="en")
    head
        include includes/header.pug 

        link(type='text/html', rel='stylesheet', href='../css/commands.css')

        style.
            body {
            overflow-x: hidden;
            background: #3582B9
            }
            hr {
                background: #0E59AF;
            }
            a.btn.btn-outline {
            background: #C51BE1
            }
            #sidebar {
            height: 100vh;
            padding: 10px;
            }
            .float-left.bg-pink {
            background: #C51BE1
            }
            .round {
                border-radius: 50%;
            }
            .shadow {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            }
            .icon, .icon img {
                font-size: x-large;

                height: 52px;
                width: 52px;
            }
            .abbr {
                padding-top: 7
            }
    body
        include includes/sidebar.pug
        include includes/navbar.pug
        .jumbotron.text-center.bg-transparent.text-light
            h1.display-4 Bacon-N-Such
            p.lead Your all in one discord bot.
            a.btn.btn-outline.text-light(href='/invite') Invite
            hr


