

doctype
html(lang="en")
    head
        include includes/header.pug
        link(type='text/html', rel='stylesheet', href='../css/commands.css')

        style.
            a.btn.btn-danksecond.btn-lg.btn-block.pl-2 {
                background: #403f69
            }
            li.list-group-item.text-light {
                background: #C51BE1
            }
            .round {
                border-radius: 50%;
            }
            .icon, .icon img {
                font-size: x-large;

                height: 52px;
                width: 52px;
            }
            body {
                background: #ffffff
            }
    body
        include includes/navbar.pug
        .container
            .jumbotron.text-center.bg-transparent 
                img.round(src=`https://cdn.discordapp.com/avatars/416358583220043796/c1f275964a5fb244361bc9e5e27b9633.png?size=64`)
                h1.display Carl
                p.lead Lists Carl's Links.
                hr
                .d-flex.justify-content-center 
                a.btn.btn-danksecond.btn-lg.btn-block.text-light.pl-2(href='/dyno/invite')
                    span.pl-1 Invite
                a.btn.btn-danksecond.btn-lg.btn-block.text-light.pl-2(href='/dyno/website')
                    span.pl-1 Website
                a.btn.btn-danksecond.btn-lg.btn-block.text-light.pl-2(href='/dyno/support')
                    span.pl-1 Support Server