doctype 
html(lang="en")
    head
        include ../includes/header.pug 

        link(type='text/html', rel='stylesheet', href='../css/commands.css')
        style.
            body {
            background: #2d7bd3
            }
            hr {
                background: #0E59AF;
            }
            a.btn.btn-outline {
            background: #C51BE1
            }
    body
        include ../includes/navbar.pug
        .jumbotron.text-center.bg-transparent.text-light
            h1.display-4 404
            p.lead You are next in line to be cooked, along with the bacon.
            a.btn.btn-outline.text-light(href='/') Let Me Out!


