doctype 
html(lang="en")
    head
        include ../views/includes/header.pug 

        link(type='text/html', rel='stylesheet', href='../css/commands.css')
        
        style.
            body {
            background: #3582B9
            }
            hr {
                background: #0E59AF;
            }
            a.btn.btn-outline {
            background: #C51BE1
            }
    body
        include ../views/includes/navbar.pug
        .jumbotron.text-center.bg-transparent.text-light
            h1.display-4 Dashboard
            p1.span Manage and configurate servers that I am in.