doctype 
html(lang="en")
    head
        include ../views/includes/header.pug 

        link(type='text/html', rel='stylesheet', href='../css/commands.css')
        
        style.
            body {
            background: #2d7bd3
            }
            hr {
                background: #0E59AF;
            }
            a.btn.btn-outline {
            background: #C51BE1
            }
    body
        include ../views/includes/navbar.pug
        include ../views/includes/sidebar.pug
        .jumbotron.text-center.bg-transparent.text-light
            h1.display-4 Dashboard
            hr
            p.lead Configurate your servers.